@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.footer-content
{
    box-sizing:border-box;
    text-align: center;
    color: #ebebebd8;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
    padding: 4%;
    width:100%;
    height: 30%;
    background-color: rgba(17, 17, 17, 1);
    
}

.text-content
{
    box-sizing: border-box;
    color: rgb(180, 180, 180);
    padding: 2px;
    width: 90%;
    height: 90%;
    background-size: cover;
    text-decoration: none;
    word-wrap: break-word;

}
.text-content a
{
    color: rgb(180, 180, 180);
}